header_fornecedores {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 2%;
    color: #1a1717;
    background-color: #1789e536;
    border-radius: 0.5em;
    align-items: center;
    justify-content: center;
}

.bi {
    padding: 3%;
    font-size: 2em;
    border-radius: 0.2em;
    height: 50%;
    width: 50%;
    text-shadow: 1px 8px 8px #000000bd;
}